.contacto{
    margin-top: 5%;
    margin-bottom: 5%;
}
.contacto1{
    padding: 50px;
}
.contacto1{
    background-color:#BA6AEB ;
    border-radius: 15px;

}
.contacto1 .btn{
    width: 100%;
}